@model Tuple<IEnumerable<Payroll.Models.Loan>, IEnumerable<Payroll.Models.Employee>, Payroll.Models.EmployeeLoan>
@{
    ViewData["Title"] = "Loan Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loan Entry</h2>
<div class="row form-filter">
    <div class="col-md-3">
        <label>Employee</label>
        <select id="employeeList" class="form-control" data-onload-select2 onchange="loansFilterByEmployeeStatus(this,'','@Url.Action("Index","Loans")')">
            <option value="" selected></option>
            @foreach (var item in Model.Item2)
            {
                var name = @item.FullName + " (" + @item.EmployeeId + ")";
                <option value="@item.EmployeeId.Trim()">@name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label>Filter By</label>
        <select id="filterBy" class="form-control" data-onload-select2 onchange="loansFilterByEmployeeStatus('',this,'@Url.Action("Index","Loans")')">
            <option value="ACTIVE">ACTIVE</option>
            <option value="HOLD">HOLD</option>
            <option value="RESIGNED">RESIGNED</option>
        </select>
    </div>
</div>
<div class="row form-group">
    <div class="table-responsive" style="height:450px;">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="table-cell-id">Loan Code</th>
                    <th>Description</th>
                    <th>Loan Principal</th>
                    <th>Loan Amount</th>
                    <th class="text-right">Date Approved</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model.Item1)
                {
                    <tr class="clickable-row">
                        <td class="table-cell-id">@Html.DisplayFor(modelItem => item.LoanCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.LoanCodeNavigation.LoanDescr)</td>
                        <td>@Html.DisplayFor(modelItem => item.Principal)</td>
                        <td>@Html.DisplayFor(modelitem => item.WithInterest)</td>
                        <td class="text-right text-nowrap">
                            @Html.DisplayFor(modelItem => item.ApprovedDate, "{ 0:MM/dd/yyyy}")
                        <td class="table-cell-actions">
                            <a href="#" onclick="return show_Loans('@item.LoanCode.Trim()')" class="item-action item-action-raised" title="Edit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#" class="item-action item-action-danger" title="Delete" data-toggle="modal" data-target="#@("deleteLoansModal"+item.LoanCode.Trim())">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <div class="modal fade" id="@("deleteLoansModal"+item.LoanCode.Trim())" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="userModalLabel">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete @item.LoanCode?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" id="deleteUser" onclick="return delete_Users('@item.LoanCode');">Delete</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">New Loan Entry</h5>
            </div>
            <div class="modal-body">
                @Html.Partial("Create")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">New Loan</button>
</div>

<script type="text/javascript">
    $(function () {
        $("#employeeList option[value='" + '@Model.Item3.FilterByEmployeeId' + "']").prop("selected", "selected");
        $("#filterBy option[value='" + '@Model.Item3.FilterByStatus' + "']").prop("selected", "selected");
    });
</script>
