@model IEnumerable<Payroll.Models.Users>
@{
    ViewData["Title"] = "Users";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="form-group row">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="table-cell-id">User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Activated</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickable-row">
                        <td class="table-cell-id">@Html.DisplayFor(modelItem => item.UserId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserFname)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserLname)</td>
                        <td>@Html.DisplayFor(modelItem => item.Activated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td class="table-cell-actions">
                            <a href="#" onclick="return getbyID('@item.UserId.Trim()')" class="item-action item-action-raised" title="Edit" >
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#" class="item-action item-action-danger" title="Delete" data-toggle="modal" data-target="#deleteModal">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            <div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" id="Delete" onclick="return Delete('@item.UserId');">Delete</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">New Loan</button>
    </div>

    <div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Update Users Entry</h5>
                </div>
                <div class="modal-body">
                    @*@Html.Partial("Details", Model, new ViewDataDictionary(ViewData) { { "userId", "admin" } });*@
                    <div class="row">
                        <div class="col-md-3">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="userId" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="firstName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="lastName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Date Activated</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="dateActivated" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Status</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="status">
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                                <option value="LOCKED">LOCKED</option>
                            </select>
                        </div>
                    </div>
                    @*@Html.Partial("Detail")*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
